
:root{
  /*===== Colors =====*/
  --first-color: #3E0E12;
  --first-color-dark: #2F0A0D;
  --text-color: #524748;
  --first-color-light: #7B6F71;
  --first-color-lighten: #FBF9F9;

  /*===== Font and typography =====*/
  --body-font: 'Poppins', sans-serif;
  --biggest-font-size: 2.5rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;
}

.App{
  font-family: var(--body-font);
  display: flex;
  color: var(--text-color);
  background-color: var(--first-color-lighten);
  justify-content: center;
  text-align: center;
  align-items: flex-start;
  align-content: center;
  flex-direction: row;
  flex-wrap: wrap;

}
h1{
  text-align: center;
}

.score{
  position: fixed;
  
}

p{
  text-align: center;
}
body {
  margin: 1rem;
  font-family: var(--body-font);
  -webkit-font-smoothing: antialiased;
  display: grid;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



button{
  display: inline-block;
  max-width: fit-content;
  background-color: var(--first-color);
  color: var(--first-color-lighten);
  padding: .75rem 1rem;
  border-radius: .25rem;
  transition: .3s;
  margin: 1rem;
}

button:disabled{
  background-color: var(--first-color-light);
  color: var(--first-color-lighten);
}


.level-selector{
  background-color: var(blue);
}

.question-area{
  background-color: var();
  max-width: 1000px;
  display: grid;
  gap: 1rem;
  
  
}

.question-box{
  margin: 0.75rem;
  justify-content: center;
  text-align: center;
  background-color: #FFF;
  border-radius: 0.5rem;
  padding: 1.5rem;
  padding-bottom: 2rem;
  box-shadow: 0 4px 6px rgba(174, 190, 205, .3);
  
}

.question-buttons{
  display: flex;
  flex-direction: row;
}

.question-button{
  display: flex;
  flex-direction: column;
}

.questions{
  display: grid;
  justify-content: center;
  text-align: center;
  grid-template-columns: repeat(3, 1fr);
}
.back-button{
  max-height: fit-content;
}

select{
  display: inline-block;
  max-width: fit-content;
  background-color: var(--first-color);
  color: var(--first-color-lighten);
  padding: .75rem 1rem;
  border-radius: .25rem;
  transition: .3s;
  margin: 1rem;
}